@import "~react-bulma-components/src/index.sass"
@import '~bulma-extensions/bulma-checkradio/src/sass/index.sass'
@import url(https://fonts.googleapis.com/css?family=Montserrat)
@import url(https://fonts.googleapis.com/css?family=Great+Vibes)

*
  font-family: 'Montserrat', sans-serif
  white-space: pre-wrap

.hero
  h1
    font-family: 'Great Vibes', sans-serif
    font-size: 10rem
    font-weight: 400
  h2
    font-size: 3em

.hero.is-fullheight
  background-image: url("/img/charlottenborg.jpg")
  background-position: center center
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  background-color: $grey-darker

.navbar-item
  color: $white !important
  &:hover
    background-color: rgba(0,0,0,0.5) !important

.hero-body
  align-items: flex-end !important
  margin-bottom: 20vh
  h1, h2
    color: $white

.is-overlay
  opacity: 0.5

.section
  padding: 5rem 1.5rem !important

.footer
  color: $white
